/* ----- POPPINS FONT Link ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- VARIABLES ----- */
:root {
  --body-color: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-first: rgb(245, 245, 245);
  --color-second: rgb(0, 255, 252);
  --color-third: rgb(30, 32, 171);
  --first-color: rgb(110, 87, 224);
  --color-fifth: rgb(255, 51, 51);
  --first-color-hover: rgb(40, 91, 212);
}

/* ----- BASE ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ----- SMOOTH SCROLL ----- */
html {
  scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}
::-webkit-scrollbar-track {
  background: grey;
}
::-webkit-scrollbar-thumb {
  background: text;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: var(--color-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn > i {
  margin-left: 10px;
}
.btn:hover {
  background: var(--color-second);
  font-weight: 800;
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
  font-size: 20px;
}

/* ------- BASE -------- */
body {
  background: var(--body-color);
}

.container {
  width: 100%;
  position: relative;
  overflow-x: hidden; /* not mandatory */
}

a {
  text-decoration: none;
  color: #000;
}

/* ----- NAVIGATION BAR ----- */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--body-color);
  padding-inline: 9vw;
  transition: 0.3s;
  z-index: 100;
}

.nav-logo {
  position: relative;
}

.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--color-third);
  text-decoration: none;
}

.nav-menu,
.nav_menu_list {
  display: flex;
}

.nav-menu .nav_list {
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--color-first);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}

.nav-menu-btn {
  display: none;
  color: var(--color-third);
}

.nav-menu-btn i {
  font-size: 35px;
  cursor: pointer;
}

.active-link {
  position: relative;
  color: rgb(30, 32, 171);
  text-shadow: rgba(255, 255, 255, 0.533) 0px 2px 30px;
  transition: 0.3;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--first-color);
  border-radius: 50%;
}

.link {
  position: relative;
  font-weight: 700;
  transition: color 0.3s;
}

.link:hover {
  background: linear-gradient(90deg, #085ea9 30%, #2f5e87 37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link::before,
.link::after {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-second);
  transform: scaleX(0);
  transition: transform 0.25s;
}

.link::before {
  top: -3px;
  transform-origin: left;
}

.link::after {
  bottom: -3px;
  transform-origin: right;
}

.link:hover::before,
.link:hover::after,
.active::before,
.active::after {
  transform: scaleX(1);
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
  padding-inline: 5vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
  padding-top: 5rem;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 70%;
  padding-left: 20px;
}

.featured-name {
  font-size: 50px;
  font-weight: 600;
  color: var(--color-first);
  margin-block: 20px;
}

.typedText,
.typedText1 {
  text-transform: capitalize;
  color: var(--color-third);
}

.featured-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--color-white);
}

.featured-text-btn {
  display: flex;
  gap: 20px;
}

.featured-text-btn > .blue-btn {
  background: var(--color-third);
  color: var(--color-white);
  box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.533);
  text-decoration: none;
  align-items: center;
}

.featured-text-btn > .blue-btn:hover {
  background: var(--first-color-hover);
}

.social_icons {
  display: flex;
  margin-top: 3rem;
  gap: 30px;
}
.icon {
  display: flex;
  background: var(--color-first);
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 25px 0px rgba(255, 255, 255, 0.533);
  cursor: pointer;
}
.icon:hover {
  color: rgb(30, 32, 171);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
  position: relative;
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 50%;
  padding-top: 6.5rem;
  padding-left: 8rem;
}

.big-circle {
  height: 100%;
  width: 100%;
  position: relative;
  border: 3px solid #bbbbbb;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  animation: Rotate 20s linear infinite;
  -webkit-animation: Rotate 20s linear infinite;
}

.icon-block {
  width: 64px;
  height: 64px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  background-color: var(--color-white);
  box-shadow: 0 0 10px var(--color-first);
}
.icon-block img {
  margin: 0px auto;
  width: 60%;
  animation: Rotate-reverse 20s linear infinite;
  -webkit-animation: Rotate-reverse 20s linear infinite;
}
.icon-block:first-child {
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.icon-block:nth-child(2) {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  -webkit-transform: translate(50%, -50%);
}
.icon-block:nth-child(3) {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
}
.icon-block:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.img-w {
  width: 330px;
  height: 330px;
}

.rounding-sec {
  position: relative;
  height: 400px;
  width: 400px;
}
.images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
/* keyframe animation */

@keyframes Rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes Rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Rotate-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes Rotate-reverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

/* ----- MAIN BOX ----- */
.section {
  padding-block: 5em;
}
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}
.col {
  display: flex;
  width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
  text-align: center;
  margin-bottom: 5em;
}
.top-header h1 {
  font-weight: 600;
  color: var(--color-first);
  margin-bottom: 10px;
}
.top-header span {
  color: #999;
}

.col h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-first);
  margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  background: var(--color-white);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 50px 0px,
    rgba(255, 255, 255, 0.25) 0px 0px 50px 0px;
  border-radius: 20px;
}
.about-info p {
  text-align: center;
  font-size: 15px;
  color: #777;
}
.about-btn a {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: var(--color-third);
  color: var(--color-white);
  border-radius: 10px;
}
.about-btn a:hover {
  background: var(--first-color-hover);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
  margin: 10px;
}
.skills-header {
  margin-bottom: 30px;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.skills-list span {
  font-size: 14px;
  background: purple;
  color: var(--color-white);
  padding: 2px 10px;
  border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  background: var(--color-white);
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 550px 0px;
  overflow: hidden;
  word-wrap: normal;
  padding: 1rem;
  padding-bottom: 2rem;
}

.project-box > i {
  font-size: 40px;
  color: #00b5e7;
}

.project-box label {
  font-size: 15px;
  color: black;
}
.project-box::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: var(--color-third);
  width: 1000%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}
.project-box:hover.project-box::after,
.contact-info:hover.contact-info::after {
  bottom: 0;
}
.project-box:hover.project-box i,
.project-box:hover.project-box > h3,
.project-box:hover.project-box > label {
  color: var(--color-white);
  z-index: 2;
}

/* Certificates */

.list {
  p {
    color: var(--color-first);
  }

  h2 {
    color: var(--color-first);
  }
}

.slider {
  height: 100vh;
  margin-top: -50px;
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 40%, transparent);
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}
@media screen and (max-width: 678px) {
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 10%;
  }
}

/* ----- CONTACT BOX ----- */
.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 315px;
  background: var(--color-third);
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px var(--color-first);
  overflow: hidden;
}
.contact-info > h2 {
  color: var(--color-white);
  margin-bottom: 20px;
}
.contact-info > p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-white);
  margin-block: 5px;
}
.contact-info p > i {
  font-size: 18px;
}
.contact-info::after {
  background: var(--color-white);
}
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
  color: black;
  z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
  caret-color: var(--color-white);
  color: var(--color-white);
}

.input-field {
  width: 50%;
  height: 55px;
  background: transparent;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  padding-inline: 20px;
  outline: none;
  color: var(--color-white);
}

textarea {
  width: 100%;
  height: 250px;
  background: transparent;
  border: 2px solid var(--color-first);
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  resize: none;
  caret-color: var(--color-white);
  color: var(--color-white);
}

.text-area {
  padding-top: 10px;
}

.form-button > .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-white);
  color: black;
}
.form-button > .btn:hover {
  background: var(--color-second);
}
.form-button i {
  font-size: 18px;
  rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background: var(--color-first);
  padding-block: 40px 60px;
}
.top-footer p {
  font-size: 25px;
  font-weight: 600;
}

.middle-footer .footer-menu {
  display: flex;
}
.footer_menu_list {
  list-style: none;
}
.footer_menu_list a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin-inline: 20px;
}
.footer-social-icons {
  display: flex;
  gap: 30px;
}
.bottom-footer {
  font-size: 14px;
  margin-top: 10px;
}

/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }
  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
  .nav-button {
    display: none;
  }
  .nav-menu.responsive {
    left: 0;
  }
  .nav-menu {
    position: fixed;
    top: 70px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: 0.3s;
  }

  .nav-menu a {
    color: #000;
  }

  .nav_menu_list {
    flex-direction: column;
  }
  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
  }
  .featured-text {
    padding-top: 4rem;
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }

  .social_icons {
    margin-top: 2em;
  }
  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 0px;
  }

  .icon-block {
    width: 50px;
    height: 50px;
  }
  .rounding-sec {
    height: 250px;
    width: 250px;
  }

  .img-w {
    width: 200px;
    height: 200px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }
  .col {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .skills-header {
    padding: 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 1rem;
  }

  .about-info,
  .contact-info {
    width: 100%;
  }
  .project-container {
    justify-content: center;
  }
  .project-box {
    width: 80%;
  }

  .nav-link {
    margin-inline: 0;
    margin: 0;
  }

  .nav-menu .nav_list {
    margin-inline: 0;
    margin: 0;
  }
}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {
  .featured-name {
    font-size: 40px;
  }
  .project-box {
    width: 100%;
  }
  .form-inputs {
    flex-direction: column;
  }
  .input-field {
    width: 100%;
  }

  .footer-menu {
    flex-wrap: wrap;
    justify-content: center;
    line-height: 50px;
  }

  .footer_menu_list {
    margin: 0;
  }
}

/* ----- MEDIA QUERY == 900px to 1400px / RESPONSIVE ----- */

@media screen and (min-width: 900px) and (max-width: 1400px) {
  .link {
    margin: 0;
  }
}
